%html
	%head
		%title Picture Frame Poop Show
		%link(		rel="stylesheet" 
							type="text/css" 
							href="styles/pframe.css")
		%link(		rel="stylesheet"
							type="text/css"
							href="http://fonts.googleapis.com/css?family=Amatic+SC:400,700&effect=destruction")
		%script(	type="text/javascript" 
							src="javascripts/dropbox.js")
		%body