#welcome_mat
	%p Hello,
	%br
	%p Welcome and good thanks to you
	%p for the use of product.
	%br
	%p Below, please kindly find three
	%p different options.
	%br
	%p Home: Brings you back here.
	%p Upload: Upload some photos.
	%p Gallery: Manage your photos.